 html, body {
    height: 100%;
    position: relative; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav {
    height: 64px;
}
.overmap {
    height: 80%;        
}

#map1 {
   width: 100%;
   position: absolute; top: 64px; left: 0; right: 0; bottom: 0!important; 
   z-index: 2;
}

#accountpage {
    width: 100%;
    background: #fefefe;        
    z-index: 1;
    /*overflow: scroll;*/
}

.section {
    padding-top: 0rem;
}

footer.page-footer {
    margin-top: 0px;    
    height: 100px;
}

.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
    background: #546e7a !important;
}
    
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
 
 background: #546e7a !important;
}


.scrollable {
    overflow: scroll;
}

@media only screen and (max-width: 992px){        
    .modal {
        max-width: 90%!important;
        width: 90%!important;
    }

    .action-bar {
        text-align: center;

    }    
}
    
.error {
	background:#ef5350;
}

.info {
    background:#42a5f5;
}

.container {
    position: relative;
}

.fixed-action-btn {
    top: 20px; 
    right: 30px;
    position:absolute;
}

select {
    background: #fefefe;
}

.boatdesc {
    min-width: 200px;
}

.boatdesc .title {
    font-size: 20px;    
    line-height: 32px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    max-width: 160px;
}

.boatdesc p {
    -webkit-font-smoothing: antialiased;
    color: #fff;
}


.loader {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 4;
}

.leaflet-popup-content p {
    margin: 13px 0;
}

